{% extends 'datatable/base.html' %}

{% block body %}
{% if user.is_authenticated %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Send Mail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  
  <body>
    <h1 class="text-center">send Mail </h1>
    
    <form action="/send-mail" method="post" class="w-50 m-auto">
        {% csrf_token %}
        <div class="mb-3">
            <input type="hidden" class="form-control" name="email" id="email" placeholder="name@example.com" autocomplete="off" value="{{ recipent_list}}">
        </div>
        
        <div class="mb-3">
          {% for s in Token_Data %}
          <button class="form-control" id="msg" rows="3" name="msg" type="submit" value="Monitoring sites are down now please look into these sites" ></button>
          
          {% endfor %}
          
        </div>
        
          
          
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
  </body>
  
</html>
{% else %}
	<h1>Sorry! You Must Be Logged In To View This Page...</h1>
{% endif %}    
{% endblock %}